.selector {
  display: flex;
  cursor: pointer;
  flex-grow: 1;
  justify-items: stretch;
  justify-content: space-between;
}

.titleList {
  display: flex;
  padding: 10px;
  font-size: 25px;
  background-color: #7f4f24;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 40px;
  justify-content: center;
}

.itemList {
  display: flex;
  flex-direction: column;
}

.typeList {
  background-color: #936639;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 10px;
  max-height: 300px;
  overflow: scroll;
  margin: 0;
}
