:root {
  --baseSpace: 2vw;
}

.body {
  position: relative;
  width: 50vw;
  height: 50vh;
  left: 25vw;
  top: 25vh;
  background-color: #936639;
  color: white;
  display: flex;
  padding-top: var(--baseSpace);
  padding-bottom: var(--baseSpace);
  flex-direction: column;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.input {
  width: 40vw;
  background-color: #a68a64;
  color: black;
}
