.navbarButton {
  padding: 10px 20px;
  background-color: #5d3a00;
  flex-grow: 1;
  margin: 0 10px;
}

.navbarSmallButton {
  background-color: #5d3a00;
}

.navbarSmallButton:hover {
  background-color: #7e4f00;
}

.navbarButton:hover {
  background-color: #7e4f00;
}